/*GENERALES*/

.h1-strong{
    font-size: 33px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    border-bottom:1px solid #eee;
    padding-bottom: 15px;
}

.jumbotron .btn{
    margin-right: 5px;
}

.jumbotron{
    padding: 25px;
    border-radius:7px;
    text-align: center;
}

.pointer{
    cursor:pointer;
}

.navbar-nav>li>.dropdown-menu .glyphicon{
    margin-right: 7px;
}
/*HEADER*/
.navigation{
    padding: 0px !important;
    margin-top: none;
}

.navigation .navbar{
    border-radius: 0px !important;
    background-color: #85ccff !important;
    border: none;
}

.navigation .navbar *{
    color: white !important;
}

.navigation .navbar a:hover{
    background: #65c5f5 !important;
}

.navigation .navbar .dropdown-menu *{
    color:black !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
    background: #65c5f5 !important;
}

.navigation .navbar .dropdown-menu a:hover{
    background: #eee !important;
}


/*REGISTER*/

.btn-success{
    margin-top: 0px;
}